# Maven target directory
/target/

# Eclipse and IntelliJ IDEA project files
.classpath
.project
.settings/
.idea/
*.iml

# MacOS files
.DS_Store

# Windows files
Thumbs.db
desktop.ini

# Logs
*.log

# Ignore chromedriver in the drivers directory
/drivers/chromedriver
/drivers/chromedriver.exe

# Ignore Extent Reports
/reports/

# Ignore other binary or system-specific files
*.class
*.war
*.ear

# Ignore any temporary files or directories
/tmp/
